PORT=3000
MONGODB_URI=mongodb://localhost:27017/smart-tasks
JWT_SECRET=change_this_super_secret
JWT_EXPIRES=7d
VAPID_PUBLIC_KEY=BKs-qGrloipRm1Fm_N-8LK4kiopBlhkd457f2aB1sL-i27JSdaT3oCQ_Ixl336wgwdFOPPP_WB5iWw5a8WdLDYk
VAPID_PRIVATE_KEY=C7HQjh-OiSlp01RF28gfkk1XsIIVtg-6-1K_idV-7RY
VAPID_SUBJECT=mailto:admin@smarttasks.local
REDIS_URL=redis://localhost:6379
REDIS_HOST=localhost
REDIS_PORT=6379
